.fillout, .titleLabel, .descriptionLabel, .audioLabel, .tweetLabel, .locationLabel, .speakerLabel{
    font-size: 30px;
}

.fillout, .titleLabel, .descriptionLabel, .fillout, .titleInput, .descriptionInput, .tweetSection, .audioLabel, .audioInput, .locationLabel, .locationInput, .speakerLabel, .speakerInput{
    display: block;
    margin: auto;
}

.titleInput, .descriptionInput, .locationInput, .speakerInput{
    border: none;
    border-radius: 10px;
    padding: 7px;
    font-size: 15px;
    width: 500px;
}

.titleInput:focus, .descriptionInput:focus, .locationInput:focus, .speakerInput:focus{
    outline: none;
}

.descriptionInput{
    resize: none;
    width: 500px;
    height: 200px;
}

.titleLabel, .descriptionLabel, .tweetLabel, .audioLabel, .locationLabel, .speakerLabel{
    margin: 30px 0px 15px 0px;
}

.tweetSection{
    margin: 30px 0px 15px 0px;
}

.audioInput{
    position: relative;
    background-color: white;
    padding: 30px 30px 30px 40px;
    border-radius: 10px;
}

.fillout{
    margin-top: 20px;
}

.tweetBox{
    position: relative;
    bottom: 4px;
    left: 10px;
    transform: scale(2);
    border: none;
}


.submitButton{
    margin: 30px 0px;
    font-size: 30px;
    border: none;
    background-color: #DB9DE5;
    border-radius: 20px;
    transition: all .5s;
    padding: 10px 20px;
}

.submitButton:hover{
    background-color: #f1d6f5;
    cursor: pointer;
}
