.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131E2D;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.links{
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    margin-right: 15px;
}

.link{
    text-decoration: none;
}

.linkName{
    color: white;
    font-size: 25px;
}

.title{
    flex-basis: 50%;
    display: flex;
    color: white;
    font-size: 40px;
    font-weight: normal;
    margin-left: 15px;
}
